<h3>
  {{#if isEditing}}
    <input type="text" value={{user.firstName}} onchange={{action 'setFirstName' value='target.value'}}/>
    <input type="text" value={{user.lastName}} onchange={{action 'setLastName' value='target.value'}}/>
    <button onclick={{action 'cancelEditing'}}>Cancel</button>
    <button onclick={{perform save }}>Save</button>
  {{else}}
    {{user.fullName}} <button onclick={{action 'startEditing'}}>Edit</button>
  {{/if}}
</h3>
<p>{{if (gte user.age 65) 'senior' 'adult'}}</p>